.body{
  background-color: #0E101F;  
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(0, 247, 255);
  
}
.inputSection{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* padding-right: 50px; */
  /* margin-right: 50px; */
  background-image: url("/circle_home.png");
  background-size: cover;
  margin-top: 100px;
  height: 40vw;
  padding: 30px;
  transition: .2s ease-in-out transform;
}
.inputSection form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputSection:hover{
  transform: scale(1.1);
}
.inputSection input{
  color: white;
  background-color: transparent;
  border: 1px solid skyblue;
  border-radius: 20px;
  margin-left: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
}
.inputSection button{
  background-color: transparent;
  color: skyblue;
  border: 2px solid skyblue;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 10px;
  transition: .2s ease-in-out transform;
  margin-bottom: 20px;
  cursor: pointer;
}
.inputSection button:hover{
  background-color: skyblue;
  color: black;
  transform: scale(1.1);
}