/* components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #181c37;
  color: white;
  margin: 1%;
  border-radius: 50px;
  position: fixed;
  width: 96vw;
  box-shadow: 5px 5px 15px -5px rgba(0, 221, 255, 0.523);
  z-index: 1;
}

.logo {
  /* margin-top: 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.navLinks {
  display: flex;
}

.authLinks {
  display: flex;
}

.navLink {
  margin-right: 1rem;
  color: rgba(0, 221, 255, 0.823);
  text-decoration: none;
  transition: 0.2s ease-in-out transform;
  border: 2px solid rgb(0, 255, 251);
  border-radius: 50px;
  padding: 5px 15px;
  box-shadow: 1px 1px 15px -5px rgba(0, 221, 255, 0.823);
}

.navLink:hover {
  font-weight: bold;
  transform: scale(1.1);
  color: rgb(50, 197, 255);
  border: 3px solid;
}
