/* components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #a6a6a6;
  color: white;
  margin: 1%;
  border-radius: 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
}

.authLinks {
  display: flex;
}

.navLink {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}
