/* components/SignIn.module.css */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 55vw;
  background-image: url("/box_home.png");
  background-size: cover;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  transition: 0.2s ease-in-out transform;
}
.signCont:hover {
  transform: scale(1.1);
}
.signInfoItems input {
  background-color: transparent;
  border: 2px solid skyblue;
  border-radius: 20px;
  color: skyblue;
  padding: 10px 20px;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
  margin-top: 10px;
}

.signTitle {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 50px;
}

.signUpLabel {
  color: antiquewhite;
  font-size: 20px;
  width: 40%;
  text-align: right;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ItemCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.signInemail,.signInPassword{
    width: 60%;
}

.ItemCont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signInBtn {
  text-align: center;
  background-color: transparent;
  color: aqua;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 20px;
  border: 4px solid rgb(0, 195, 213);
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.signInBtn:hover {
  background-color: aqua;
  border: none;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ForgotPasswordBtn {
  color: rgba(141, 198, 248, 0.5);
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.ForgotPasswordBtn:hover {
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
.CreateAccountBtn {
  color: aliceblue;
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin: 10px;
  margin-right: 10px;
  border: 5px solid cornflowerblue;
  border-radius: 20px;
  padding: 10px;
}

.signUpLink {
  color: rgb(49, 159, 255);
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin: 10px;
  margin-left: 10px;
}
.signUpLink:hover {
  color: aqua;
  text-decoration: underline;
}
