/* components/Sign.module.css */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signCont {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 66%;
  background-image: url("/box_home.png");
  background-size: cover;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  transition: 0.2s ease-in-out transform;
}
.signCont:hover {
  transform: scale(1.05);
}
.signInfoItems input {
  background-color: transparent;
  border: 2px solid skyblue;
  border-radius: 20px;
  color: skyblue;
  padding: 10px 20px;
  margin-bottom: 5px;
  outline: none;
  font-size: 18px;
  margin-top: 5px;
  width: 60%;
}

.signUpLabel {
  color: antiquewhite;
  font-size: 20px;
  width: 40%;
  text-align: right;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signTitle {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  color: aqua;
  text-shadow: 2px 1px 1px black;
}
.ItemCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.ItemCont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ItemCont3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  position: relative;
  left: 10px;
}
.signUpForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signUpBtn {
  text-align: center;
  background-color: transparent;
  color: aqua;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 20px;
  border: 4px solid rgb(0, 195, 213);
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.signUpBtn:hover {
  background-color: aqua;
  border: none;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.AlreadyRegisteredtBtn {
  color: aliceblue;
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin: 10px;
  margin-right: 10px;
  border: 5px solid cornflowerblue;
  border-radius: 20px;
  padding: 10px;
}
.signUpLogIn {
  color: rgb(49, 159, 255);
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin: 10px;
  margin-left: 10px;
}
.signUpLogIn:hover {
  color: aqua;
  text-decoration: underline;
}
.customIcon {
  font-size: 0.1rem !important;
  color: white;
  max-width: 30px;
  max-width: 20px;
}
.customEyeIcon {
  font-size: 0.1rem !important;
  color: white;
  max-width: 30px;
  max-width: 20px;
  position: relative;
  left: -30px;
  cursor: pointer;
}
.termsLabel{
  color: white;
  font-size: 16px;
}

.alertzindexImp {
  z-index: 2 !important;
}
